<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @client.Fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @client.Lname %>
</p>

<p>
  <b>Address:</b>
  <%= @client.address %>
</p>

<p>
  <b>Phonenumber:</b>
  <%= @client.phonenumber %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
